// Theme Colors
$white: #ffffff;
$white-off: #fafafa;
$white-off-2: #f3f3f4;
$black: #000000;
$grey: #58585b;
$linkColor: #0096AE;
$linkColorAlt: #3B859A;
$linkColorAlt2: #2797ac;
$socialLinksColor: #999999;
$pageBlockBorderColor: #f3f3f4;
$pageBlockBgColor: #1e343e;
$errorColor: #a94442;
$formControlBorder: #bfc0c3;

// Element Sizes
$container-max-width: 1024px;

// Font Family
$oxygenFont: 'Oxygen', sans-serif;
